<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello World</title>
    <script>
        function showLabel() {
            document.getElementById("response").style.display = "block";
        }
    </script>
</head>
<body>
    <h1>Hello World</h1>
    <button onclick="showLabel()">Test</button>
    <label id="response" style="display:none;">Well Done</label>
</body>
</html>
